{% extends 'base.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
    
    <link rel="stylesheet" href="index.html">  
    <link rel="stylesheet" href="products.html">
    <link rel="stylesheet" href="sales.html">
    <link rel="stylesheet" href="/static/css/footer.css">
    <script src="http://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
  <title>graphs</title>
</head>
<header>
  <!-- nav -->
 
</header>
{% block content %}
<body>
  <canvas id="lineChart" width="700" height="700"></canvas>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <script>
    var ctx = document.getElementById("lineChart").getContext("2d");
    var lineChart = new Chart(ctx, {
      type: "line",
      data:{
      labels:{{ labels | safe }},
      datasets:[
        {
          label: "Data points",
          data: {{ values | safe }},
          fill: false,
          borderColor:"goldenrod",
          lineTension: 0.1
        }
      ]


    },
    options:{
      responsive: false
    }
  });
  </script>





</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ"
    crossorigin="anonymous"></script>
<script src="/static/Javascript/main.js"></script>

{%endblock%}
</body>

 




</html>