<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Bootstrap CSS -->
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <link rel="stylesheet" href="/static/css/footer.css">
        <title>Products</title>
      </head>
      <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">VEGA</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/products">Products</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Services
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="/sales">sales</a></li>
                      <li><a class="dropdown-item" href="/insights">insights</a></li>
                      <li><a class="dropdown-item" href="stock">stock</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Dashboard</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#" tabindex="-1" aria-disabled="false">Sign-Up</a>
                  </li>
                </ul>
                <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>
            </div>
          </nav>
      </header>

<body>
  <!-- button trigger modal -->
  <div class="text-center">
    <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Add Item
    </button>
</div>
<!-- {{rows}} -->
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Add Modal</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
       <div class="modal-body">
        <form action="/products" method="POST">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">product_name</label>
                <input type="text" class="form-control" name="product_name" id="exampleFormControlInput1"
                    placeholder="eg.Iphone 13 pro">
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">selling_price</label>
              <input type="number" class="form-control" name="selling_price" id="exampleFormControlInput1">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">buying_price</label>
            <input type="number" class="form-control" name="buying_price" id="exampleFormControlInput1">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">quantity_remaining</label>
          <input type="number" class="form-control" name="quantity_remaining" id="exampleFormControlInput1">
      </div>
        <div>
          <button type="submit" class="btn btn-dark" data-bs-dismiss="modal">Submit</button>
      </div>
      </form>
     </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-info" data-bs-dismiss="modal">Close</button>
       </div>
     </div>
    </div>
  </div>

  <!-- edit products -->

                   
                            


  
 <div class="container mt-3">
  <div class="col-11">
      <table class="table" id="example">
          <thead>
              <tr>
                  <th scope="col">product_id</th>
                  <th scope="col">product_name</th>
                  <th scope="col">selling_price</th>
                  <th scope="col">buying_price</th>
                  <th scope="col">quantity_remaining</th>
                  <th scope="col">Sale</th>
                  <th scope="col"> Show Sale</th>
                  <!-- <th scope="col">Delete</th> -->
              </tr>
          </thead>
          <tbody>
            {% for i in rows %}
              <tr>
                  <td scope="row">{{i[0]}}</td>
                  <td>{{i[1]}}</td>
                  <td>{{i[2]}}</td>
                  <td>{{i[3]}}</td>
                  <td>{{i[4]}}</td>
                  <td>
                      <!-- Button trigger modal -->
                      <div class="text-center">
                          <button type="button" class="btn btn-info" data-bs-toggle="modal"
                              data-bs-target="#staticBackdrop1{{i[0]}}">
                              Make Sale
                          </button>
                      </div>
                      <!-- {{rows}} -->
                      <!-- Modal -->
                      <div class="modal fade" id="staticBackdrop1{{i[0]}}" data-bs-backdrop="static"
                          data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                          aria-hidden="true">
                          <div class="modal-dialog">
                              <div class="modal-content">
                                  <div class="modal-header">
                                      <h5 class="modal-title" id="staticBackdropLabel">Sale Modal</h5>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal"
                                          aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                      <form action="/sales" method="POST">
                                          <div class="mb-3">
                                              <input type="hidden" value="{{i[0]}}" name="product_id">
                                          </div>
                                          <div class="mb-3">
                                              <input type="hidden" value="{{i[1]}}" name="product_name">
                                          </div>
                                          <div class="mb-3">
                                              <label for=" " class="form-label">Quantity</label>
                                              <input type="number" class="form-control" name="quantity"
                                                  id="quantity">
                                          </div>
                                          <div>
                                              <button type="submit" class="btn btn-dark"
                                                  data-bs-dismiss="modal">Submit</button>
                                          </div>
                                      </form>
                                  </div>
                                  <div class="modal-footer">
                                      <button type="button" class="btn btn-info"
                                          data-bs-dismiss="modal">Close</button>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </td>
                  <td>
                      <div class="text-center">
                          <button type="button" class="btn btn-info" data-bs-toggle="modal"
                              data-bs-target="#staticBackdrop2{{i[0]}}" link-style="none">
                              <a href="/sales/{{i[0]}}">View Sale</a></button>
                      </div>
                  </td>
                  <td>
                       <!-- Button trigger modal -->
                       <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        edit products
                     </button>
  
                     <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                     <h5 class="modal-title" id="exampleModalLabel">edit products</h5>
                     <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                     </div>
                     <div class="modal-body">
                         <form action="/product" method="POST">

                          <div class="mb-3">
                            <label class="form-label" >product_id</label>
                            <input type="number" value="{{i[0]}}" class="form-control" name="product_id"
                                id="product_id">
                            </div>
                            <div class="mb-3">
                            <label class="form-label">product_name</label>
                            <input type="text" class="form-control" name="product_name"
                                id="product_name">
                            </div>
                            <div>
                            <label class="form-label">selling_price</label>
                            <input type="number" class="form-control" name="selling_price"
                                id="price">
                            </div>
                            <div>
                                <label class="form-label">buying_price</label>
                                <input type="number" class="form-control" name="buying_price"
                                      id="price">
                            </div>
                                 
                            <div class="mb-3">
                            <label class="form-label">quantity</label>
                            <input type="number" class="form-control" name="quantity"
                                        id="quantity">
                            </div>
                                
                                        
                            <div>
                            <button type="submit" class="btn btn-dark"
                            data-bs-dismiss="modal">Submit</button>
                            </div>
                            </form>
                             </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                          </div>
                    </div>
                    </div>
                    </div>
                  </td>
            
                  
                </tr>   
            
            {% endfor %}
            </tbody>
        </div>
</div>
</div>
</div>




    
   <!-- footer -->
 <footer class="footer-section">
    <div class="container">
        <div class="footer-cta pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-map-marker-alt"></i>
                        <div class="cta-text">
                            <h4>Find us</h4>
                            <span>1010 Avenue, sw 54321, chandigarh</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-phone"></i>
                        <div class="cta-text">
                            <h4>Call us</h4>
                            <span>9876543210 0</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="far fa-envelope-open"></i>
                        <div class="cta-text">
                            <h4>Mail us</h4>
                            <span>mail@info.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-content pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-lg-4 mb-50">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href="index.html"><img src="/static/images/favicon.ico" class="img-fluid" alt="logo"></a>
                        </div>
                        <div class="footer-text">
                            <p>Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed do eiusmod tempor incididuntut consec tetur adipisicing
                            elit,Lorem ipsum dolor sit amet.</p>
                        </div>
                        <div class="footer-social-icon">
                            <span>Follow us</span>
                            <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
                            <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
                            <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Useful Links</h3>
                        </div>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">about</a></li>
                            <li><a href="#">services</a></li>
                            <li><a href="#">portfolio</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Our Services</a></li>
                            <li><a href="#">Expert Team</a></li>
                            <li><a href="#">Contact us</a></li>
                            <li><a href="#">Latest News</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Subscribe</h3>
                        </div>
                        <div class="footer-text mb-25">
                            <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
                        </div>
                        <div class="subscribe-form">
                            <form action="#">
                                <input type="text" placeholder="Email Address">
                                <button><i class="fab fa-telegram-plane"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                    <div class="copyright-text">
                        <p>Copyright &copy; 2022, All Right Reserved <a href="https://tony-c-ndirangu.herokuapp.com">VEGA</a></p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                    <div class="footer-menu">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Terms</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Policy</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer -->


<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="/static/Javascript/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
-->
</body>
    
      




