{% extends "base.html" %}

<html>
    <title>sales</title>
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico"> -->

    <link rel="stylesheet" href="index.html">  
    <link rel="stylesheet" href="products.html">
    <link rel="stylesheet" href="sales.html">
    <link rel="stylesheet" href="/static/css/footer.css">
    <title>Sale System 1.2</title>
   {% block content %}


<body>
    <div class="container mt-3">
    
        <div class="col-11">
            <table class="table" id="example">
                <thead>
                    <tr>
                        <th scope="col">sales_id</th>
                    <th scope="col">product_id</th>
                    <th scope="col">product_name</th> 
                    <th scope="col">quantity_sold</th>
                    <th scope="col">created_at</th>
                    <!-- <th scope="col">Edit</th> -->
                    <!-- <th scope="col">Delete</th> --> 
                </tr>
            </thead>
            <tbody>
                {% for i in rows %}
                <tr>
                    <td scope="row">{{i[0]}}</td>
                    <td scope="row">{{i[1]}}</td>
                    <td scope="row">{{i[2]}}</td>
                    <td scope="row">{{i[3]}}</td>
                    <td scope="row">{{i[4]}}</td>
                    <td scope="row">{{i[5]}}</td>
                </tr>
                {% endfor %} 
        </tbody>
    </div>
</form>
</div>
</div>

    
{% endblock %}
</body>
 </html>







